/* Căn chỉnh cho phần chi tiết sản phẩm */
.body-detail {
    padding: 40px 0;
    background-color: transparent; /* Màu nền nhạt cho phần chi tiết */
}

.box-product {
    display: flex; /* Bật flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
    height: 100%; /* Đảm bảo chiều cao phù hợp */
}

.box-product img {
    max-width: 80%; /* Đảm bảo hình ảnh không vượt quá kích thước container */
    height: auto; /* Giữ tỷ lệ khung hình */
    /*border-radius: 8px;  Bo góc hình ảnh */
    object-fit: cover;
}

.info-product {
    padding: 20px;
    background-color: #ffffff; /* Nền trắng cho thông tin sản phẩm */
    border-radius: 8px; /* Bo góc cho hộp thông tin */
}

.info-product h3 {
    font-size: 24px; /* Kích thước tiêu đề sản phẩm */
    margin-bottom: 15px; /* Khoảng cách dưới tiêu đề */
}

.info-product .price {
    font-size: 20px; /* Kích thước giá */
    color: #ff5722; /* Màu sắc giá nổi bật */
    margin-bottom: 15px; /* Khoảng cách dưới giá */
}

.info-product .description {
    font-size: 16px; /* Kích thước mô tả */
    margin-bottom: 15px; /* Khoảng cách dưới mô tả */
}

.info-product h4 {
    font-size: 18px; /* Kích thước tiêu đề thành phần */
    margin-top: 20px; /* Khoảng cách trên tiêu đề thành phần */
    margin-bottom: 10px; /* Khoảng cách dưới tiêu đề thành phần */
}
.btn-primary {
    background-color: #ff5722; /* Màu nền nút */
    border: none; /* Bỏ viền */
    padding: 10px 20px; /* Padding cho nút */
    border-radius: 5px; /* Bo góc cho nút */
    color: #fff; /* Màu chữ nút */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.btn-primary:hover {
    background-color: #ff5722 /* Màu nền khi hover */
}